/*@charset "UTF-8";*/
/**
 *
 * @author yt.zhou (yt.zhou@dsecet.com)
 * @date    2014-08-05 14:00:27
 * @version $demo1.0$
 *
 **/

/* CSS Document */
/* ========= reset ========= */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header,  menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html { height: 100%; }
body { font-size: 1em; line-height: 1; font-family: "微软雅黑",Arial, Tahoma, sans-serif; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section { display: block; }
ol, ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }
a{text-decoration: none}
a:hover{text-decoration: none}

/* ======== my-set ======== */
.show{display: block;}
.hide{display: none;}
.inline{display: inline-block}
.none{display: none}
.fl{float: left}
.fr{float: right}
.clear{clear: both}
.hidden{overflow: hidden}
.tl{text-align: left}
.tr{text-align: right}
.tc{text-align: center}
.center{margin-left: auto;margin-right: auto;}            /***边距样式***/
.relative{position: relative}   /***相对定位***/
.absolute{position: absolute}   /***绝对定位***/
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
    cursor: pointer;               /*点击鼠标手型*/
}

/************媒体查询模版**************/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}
    /* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
}
/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-device-pixel-ratio:1.5) {
    /* Styles */
}